h1 {text-align: center;}
p {text-align: center;}
a:hover {
font-weight: bold;
}
a {
font-weight: none;
color: Red;
text-decoration: none;
}
a:visited {
color: Green;
}
a:active {
text-decoration: none;
}
